@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600&display=swap');
body{
    font-family: 'IBM Plex Serif', serif;
    text-transform: uppercase;
}
p{
    margin-top: 25px;
    font-size: 18px;
}
.container-fluid{
    height: 100vh;
}
.body
{
    margin-top: 24px;
}
.bg {
    background-image: url(../img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position-x: -50%;
}

.img-header img{
    width: 50%;
    height: auto;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.header-text{
    font-size: 44px;
    line-height: 68px;
    font-weight: 400;
}
.header-img{
    transform: rotate(180deg);
}
.header-img,.footer-img{
    text-align: center;
}
.header-img img,.footer-img img{
    width: 260px;
    height: 64px;
}
  
    .center img{
        height: 420px;
        width: 96%;
        object-fit: contain;
        margin: auto;
      }

      .lang{
          cursor: pointer;
          background-color: #CEB279;
          padding:5px 8px;
          border-radius: 4px;
          color: #fff;
      }
@media screen and (max-width:600px){
    .header-text{
        font-size: 30px;
        line-height: 48px;
    }
    .mar-t{
        height: 500px;
    }
    .mar-t .card{
        width: 350px !important;
    }
}
@media screen and (min-width:601px){
    .center{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
}